/* Copy pated code from the original page*/

body {
    background-color: rgba(12, 134, 228, 0.127);
}


/*----------------------------Form styling*/


input[type=text], [type=number] {
    width: 60px; /* let's shrink the width so that i can put the label and input in one line (make space) */
    background-color: rgba(247, 249, 255, 0.656);
    border-radius: 12px;

    border: #4b4396; /* this got rid of the black border*/
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* attributing the solution to the above 
  youtube channel https://www.youtube.com/watch?v=v62zala_rlQ*/
}



/* having some issues wiht the order of priority in CSS. tried using input and specifying
the input type  but this seems to confuse it as I have 3 different declaratons

going to try via ID

*/


form {
   
    background-color: rgba(28, 78, 187, 0.13);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 10px 5px lightblue;
   
}

@media screen and (min-width: 350px) {
    form {
        width: 320px;
}

@media screen and (min-width: 750px) {
    form {
        width:720px
    }
/*ALL BELOW WAS DELETED -----------------------------*/
    .styling-amount-container, 
    styling-rate-container, 
    styling-term-container {
        flex-direction: row;
    }


}


#calculate-button {
    text-transform: uppercase;
    width: 256px; 
    background-color: rgba(0, 68, 255, 0.826);
    border-radius: 12px;
    height: 40px;
    border: 2px solid #4CAF50;
}


/*------------------styling inside the form */


.styling-amount-container, styling-rate-container, styling-term-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.div1 {
    flex-grow: 1 ; /* grow is not working */
}

form div label {
    padding: 5px;
   /*background-color: rgba(128, 128, 128, 0.401); */
    color:blue ;
    width: 230px;
    text-transform: uppercase;
    text-align: center
}

form div div {
    background-color: rgba(128, 128, 128, 0.491);
}


