
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Space+Grotesk:wght@500&display=swap');

body {
    background-color: rgba(12, 134, 228, 0.127);
}
/*----------------------------Form styling*/


input[type=text], input[type=number] {
    width: 80px; /* let's shrink the width so that i can put the label and input in one line (make space) */
    background-color: rgba(247, 249, 255, 0.656);
    border-radius: 12px;
    height: 25px;
    box-shadow: 0px 5px 5px #1d3dcdab; 
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* attributing the solution to the above 
  youtube channel https://www.youtube.com/watch?v=v62zala_rlQ*/
}

form {
    margin: 0 auto; 
    /* this setting centers the form  */
    background-color: rgba(28, 78, 187, 0.13);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 
}

  /*-----------------------------MEDIA RULES*/


@media screen and (min-width: 350px) {
    form, h1 {
        width: 275px;
    }
}

@media screen and (min-width: 750px) {
    form, h1 {
        width:720px
    }
}

/*------------------------------------------------SLIDER STYLING */

#mortgage-slider, #rate-slider, #term-slider {
    margin: 30px 0px 30px 0px; /* Margin for top and bottom parts of the slider 
    because I want to give a box shadow */
  background-color: #1363d3;
  width: 270px;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 5px 5px #1d3dcdab; 

  /* Some of the code is taken and inspired by 
  https://www.cssportal.com/style-input-range/ */

  border: 5px solid #83a2e5db;
  border-radius: 23px;
  background: #4b4396;
  -webkit-appearance: none;
  color: blue; /* need to change the color of the thumb! */
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #1363d3dd;
  border-radius: 12px;
  box-shadow: 0px 1px 4px #1d3dcdab;
 /* lesser shadow than a thumb so that track
  is not distracting from the thumb */ 
}

  /*----------------------------------------------CALCULATE BUTTON STYLING*/

  #calculate-button {
    text-transform: uppercase;
    width: 256px; 
    background-color: rgba(0, 68, 255, 0.826);
    border-radius: 12px;
    height: 40px;
    border: 2px solid #0a340b;
    box-shadow: 0px 5px 5px #1d3dcdab; 
  }


/*------------------------------------------------STYLING H1*/

 h1 {
 
    margin: 40px auto; 
    /* this setting centers the form,
    also the 40px gives space between h1 and form  */
    background-color: rgba(11, 53, 145, 0.806);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 
    /* Using the same style as the form */
    text-align: center;

    
}

/*-----------------------------------------------FONT STYLING */

label {
    text-transform: uppercase;
    color: rgba(249, 253, 255, 0.243);
    font-family: 'Kanit', sans-serif;
    color: #1363d3;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    
}




