
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Space+Grotesk:wght@500&display=swap');

body {
    background-color: rgba(12, 134, 228, 0.127);
}
/*-------------------------------------------------Form styling*/


input[type=text], 
input[type=number] {
    width: 80px; /* let's shrink the width so that i can put the label and input in one line (make space) */
    background-color: rgba(247, 249, 255, 0.656);
    border-radius: 12px;
   
    height: 25px; /* making input box a reasonably good size */
    box-shadow: 0px 5px 5px #1d3dcdab; 
    margin: 5px;

    border: none;
    /*removes sharpmness from the edges, but the shadows are still there */
    
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* attributing the solution to the above 
  youtube channel https://www.youtube.com/watch?v=v62zala_rlQ*/
}

form  {
    margin: 40px auto; 
    /* this setting centers the form,
    but also leaves space between boxes */
    background-color: rgba(28, 78, 187, 0.13);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 

    align-items: baseline; /* centers the slider input and the logo */
}


#currency-input-container {
    /* this centers the display and currecy together
    a bit more in line with the result container result boxes */
    display: flex;
    justify-content: center; 
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    margin-right: 5px;
}

  /*----------------------------------------------MEDIA RULES*/


  @media screen and (min-width: 350px) {
    form,
    h1,
    #styling-result-container,
    #results-history-container {
        width: 275px;
    }

    /* only adding the result container to the existing rule - which worked, 
    however now need*/

    .styling-amount-container,
    .styling-rate-container,
    .styling-term-container {
        flex-direction: column;
    }

    form span i {
        flex-shrink: 1;
    }
}

@media screen and (min-width: 750px) {
    form,
    h1,
    #styling-result-container,
    #results-history-container {
      width: 720px;
    }
  
    .styling-amount-container,
    .styling-rate-container,
    .styling-term-container,
    #styling-result-container,
    #results-history-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    #mortgage-slider,
    #rate-slider,
    #term-slider {
      width: 100% ;
      max-width: 270px;
    }

    .slider-container {
        width: 100%;
        max-width: 270px;
      }
      /* targeting sliders with a class above helped with the issue*/
  }
  


/*------------------------------------------------SLIDER STYLING */

#mortgage-slider,
#rate-slider,
#term-slider {
     /* Margin for top and bottom parts of the slider 
    because I want to give a box shadow */
    margin: 5px 0px;
    background-color: #1363d3;
    width: 100% !important;
    max-width: 270px !important;
     /* after tidying up sliders are all of a sudden less than 270px - trying to fix that */

}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 5px 5px #1d3dcdab; 

  /* Some of the code is taken and inspired by 
  https://www.cssportal.com/style-input-range/ */

  border: 5px solid #83a2e5db;
  border-radius: 23px;
  background: #4b4396;
  -webkit-appearance: none;
  color: blue; /* need to change the color of the thumb! */
}


input[type=range]::-webkit-slider-runnable-track {
background-color: #1363d3dd;
  border-style: hidden;  
  border-radius: 12px;
  box-shadow: 0px 1px 4px #1d3dcdab;  
  margin: 3px;
  padding: 5px;
}

  /* lesser shadow than a thumb so that track is not distracting from the thumb */ 



  /*----------------------------------------------CALCULATE BUTTON STYLING*/

  #calculate-button {

    text-transform: uppercase;
    width: 226px; 
    background-color: rgba(0, 68, 255, 0.826);
    border-radius: 12px;
    height: 40px;
    box-shadow: 0px 5px 5px #1d3dcdab; 

    border: none;
    color: rgb(237, 243, 250);
    letter-spacing: 5px;

  }

  .styling-button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    /* this puts the button in the centre */
  }


/*------------------------------------------------STYLING H1*/

 h1 {
    margin: 40px auto; 
    /* this setting centers the form,
    also the 40px gives space between h1 and form  */
    background-color: rgba(11, 53, 145, 0.806);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 
    /* Using the same style as the form */
    text-align: center;

    
}

/*-----------------------------------------------FONT STYLING */

label {
    text-transform: uppercase;
    color:  #1363d3;
    text-shadow: 0px 0px 1px #030b2cab; 
    font-size: large;
    font-family: 'Space Grotesk', sans-serif !important;
    
    

}

form #calculate-button {
    font-family: 'Space Grotesk', sans-serif !important;
    font-size: large;
    text-shadow: 0px 5px 10px #07144eab
    
}


h1 {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(237, 243, 250);
}

form .label-container {

    padding: 3px;
    border: none;
    padding: 3px;
 }


/*------------------------------------------------NUMBERS AND ICON STYLE*/

input[type=number],
input[type=text],
i {
   color:  #1363d3;
   text-shadow: 0px 0px 1px #1d3dcdab; 
   font-size: large;

   padding-left: 10px;
   padding-right: 10px;
   /* targeting both icons with i and number inputs so that there's a bit of give
   and number and symbols are not too flush to the input*/
   margin: 5px;


   display: inline;
}
   /* 
   vertical-align: middle;
   this ligns the input and slideer and icons so that they are vertically in the middle and 
   inline with each other */

   .slider-container {
    padding: 5px;
    margin: 5px;
   }

   /*--------------------FIXING THE BREAKPOINTS FOR THE FORM ITEMS*/

   .styling-amount-container,
   .styling-rate-container,
   .styling-term-container {
    padding: 5px;
    display: flex;
   }

   div.styling-rate-container input[type="range"],
   div.styling-term-container input[type="range"],
   div.styling-amount-container input[type="range"] {
    width: 100%;
    max-width: 270px;
   }

   /* after tidying up sliders are all of a sudden less than 270px - trying to fix that */

   /*---------------------------------------------RESULT CONTAINER STYLING */

  
   #styling-result-container {

    margin: 40px auto; 
    /* this setting centers the form,
    but also leaves space between boxes */
    background-color: rgba(28, 78, 187, 0.13);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 

    align-items: baseline; /* centers the slider input and the logo */
 
}

#result-currency-container {
    display: flex;
    justify-content: center; 
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    margin-right: 10px; /* result container is too flush to the next label
    so adding margin for the right specifically */
}

.label-container {
    display: flex;
    justify-content: center; 
    margin-top: 5px;
    margin-bottom: 5px;
}

/*----------------------------------------------PUBLISHED CALCULATOR HISTORY STYLING (POSSIBLE SECTION)*/

#results-history-container {
    margin: 40px auto; 
    /* this setting centers the form,
    but also leaves space between boxes */
    background-color: rgba(28, 78, 187, 0.13);
    border-radius: 15px;
    padding: 20px; /* gives form a padding */
    box-shadow: 0px 5px 5px #1d3dcdab; 

    align-items: baseline; /* centers the slider input and the logo */
}


   

   




